[submodule "DREAM3D"]
	path = DREAM3D
	url = https://github.com/jduffeybq/DREAM3D
	branch = feature/signals
[submodule "SIMPL"]
	path = SIMPL
	url = https://github.com/jduffeybq/SIMPL
	branch = feature/signals
[submodule "SIMPLView"]
	path = SIMPLView
	url = https://github.com/jduffeybq/SIMPLView
	branch = feature/signals
[submodule "CMP"]
	path = CMP
	url = https://github.com/bluequartzsoftware/CMP
	branch = develop
[submodule "DREAM3D_Plugins/ITKImageProcessing"]
	path = DREAM3D_Plugins/ITKImageProcessing
	url = https://github.com/jduffeybq/ITKImageProcessing
	branch = feature/signals
[submodule "DREAM3D_Plugins/SimulationIO"]
	path = DREAM3D_Plugins/SimulationIO
	url = https://github.com/jduffeybq/SimulationIO
	branch = feature/signals
[submodule "DREAM3D_Plugins/DREAM3DReview"]
	path = DREAM3D_Plugins/DREAM3DReview
	url = https://github.com/jduffeybq/DREAM3DReview
	branch = feature/signals
[submodule "DREAM3D_Plugins/UCSBUtilities"]
	path = DREAM3D_Plugins/UCSBUtilities
	url = https://github.com/jduffeybq/UCSBUtilities
	branch = feature/signals
[submodule "DREAM3D_Data"]
	path = DREAM3D_Data
	url = https://github.com/dream3d/DREAM3D_Data
	branch = develop
